<div class="container w-75">
    <h1 class="pt-5">Your Memberships</h1>

    <div class="text-right">
        <%= link_to '+ Add New Membership', new_memberships_user_path %>
    </div>
</div>

<% @memberships_users.each do |memberships_user| %>
    <div class="card w-75 mx-auto mt-4 border border-warning">
        <!--<img class="card-img" src="..." alt="<%= memberships_user.membership.store %>">-->
        <div class="card-body"> <!-- Add in 'card-img-overlay' -->
            <h5 class="card-title"><%= memberships_user.store %></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <%= link_to 'Show', memberships_user %>
        </div>
    </div>
<% end %>