// Place all the styles related to the Memberships_Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn {
    background-color: #fa76a0;
    color: #FFFFFF;
}

.flip-card {
  // background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  // width: 100%;
  // height: 100%;
  // text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card.hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  // width: 100%;
  // height: 100%;
  backface-visibility: hidden;
}

// .flip-card-front {
//   background-color: #bbb;
//   color: black;
// }

.flip-card-back {
  // background-color: #2980b9;
  // color: white;
  transform: rotateY(180deg);
}

.new-session-form {
    border: 2px solid #fa76a0 !important;
}

.signup-tab-inactive {
    background-color: #fa76a0;
    color: #FFFFFF;
    border-bottom: 2px solid #fa76a0 !important;
    border-left: 2px solid #fa76a0 !important;
}

.login-tab-inactive {
    background-color: #fa76a0;
    color: #FFFFFF;
    border-bottom: 2px solid #fa76a0 !important;
    border-right: 2px solid #fa76a0 !important;
}

.default-link-color, .default-link-color:hover, .btn:hover {
    color: #FFFFFF;
    text-decoration: none;
}